/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Varela+Round&display=swap');

/*global classes*/
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    --hue-color:205;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*font and typography*/
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*font weight*/
    --font-medium: 500;
    --font-semi-bold: 600;

    background-color: rgb(223, 223, 223);

}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff;
    margin: 0;
}

.header {
    padding: 40px;
    text-align: center;
}

.games {
    display: block;
    
}

.game {
    background-color: var(--first-color);
    color: #fff;
    text-align: center;
    height: 240px;
    width: 240px;
    box-shadow: 5px 5px 10px rgb(180, 180, 180);
    margin: 40px auto;
}

.top {
    height: 200px;
}

.game-link {
    line-height: 40px;
}

.bottom {
    height: 40px;
    background: black;
    color: #fff;
    transition: all 0.5s;
}

.bottom:hover {
    transform: scale(.8);
}

/*first letter*/
.how-to{
    border-radius: .5rem;
}

.how-to-header {
    background: var(--first-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    border-radius: .5rem .5rem 0 0;
}

.how-to-header h3 {
    display: inline-block;
}

.how-to-icon {
    display: inline-block;
}

.how-to-desc {
    border-radius:  0 0 .5rem .5rem;
    background: var(--first-color);
    color: #fff;
    padding: 20px;
    transition:  0.4s;
    text-align: center;
    font-size: 18px;
}

.start {
    margin-top: 60px;
    text-align: center;
}

.btn {
    border-radius: .5rem;
    width: 140px;
    font-size: 20px;
    background: var(--first-color);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    border: 6px var(--first-color-alt) solid;
    transform: scale(0.9);
}

.letter {
    margin-top: 20px;
    text-align: center;
    
}
.new-letter {
    font-size: 20px;
    font-weight: 500;
    display: none;
}

.timer-grid {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    transition: all 0.4s;
    
}

.time-over {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    margin: 40px;
}

.min {
    justify-self: end;
    align-content: center;
    
}



.min, .sec {
    display: flex;
    background: black;
    color: #fff;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.inputes {
    margin-top: 60px;
}
.input {
    background: var(--first-color);
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
    border-radius: .5rem;
    transition: 0.4s;
}

.input-text {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
}

.label {
    display: block;

}

.game-footer {
    text-align: center;
}

.check-game,
.restart {
    margin-bottom: 40px;
}

.result {
    font-weight: 900;
    margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
    .container {
        width: 70%;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .inputes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
